@{
    ViewData["Title"] = "Thông tin thành viên";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1> Danh sách thành viên</h1>
<p> Nguyễn Văn Hoàng</p>
<p> Hà Thọ Đức</p>
<p> Phạm Thị Quỳnh</p>
<p> Ngô Thị Giang</p>