
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/css/NA.css" rel="stylesheet" />
}
@section footer{
    <script src="~/js/NA.js"></script>
}
<h2>Index</h2>

